<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="todo" ng-controller="main">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

</head>

<body>
    {% verbatim %}


    <div id="wrap">

        <!-- Begin page content -->
        <div class="container">
            <div class="col-md-6 col-md-offset-3">


                <div class="page-header">
                    <h1>To do list</h1>
                </div>
                <ul ng-repeat="task in tasklist">
                    <li class="taskli" >

                        <editablespan   model="task.title" on-ready="save(task)" span-class="info" input-class="{{task.id}}" input-type="text">
                        </editablespan>
                        <button type="button" class="close" ng-click="delete(task)">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                    </li>

                </ul>
                <div class="add">
                    <form ng-show="visible" ng-submit="save(task)">
                        <input type="text" ng-model="task.title" placeholder="Your task" ng-required/>

                        <button class="btn" type="submit">Save</button>
                    </form>
                    <a class="btn" ng-hide="visible" ng-click="visible = true"><i class="icon-plus"></i>Add</a>
                    <a class="btn" ng-show="visible" ng-click="visible = false">Cancel</a>
                </div>
            </div>
        </div>

        <div id="push"></div>
    </div>

    <div id="footer">
        <div class="container">

        </div>
    </div>


    {% endverbatim %}

</body>
<script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/todo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/editable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/task.js"></script>

</html>
